@model IEnumerable<MVC_Music.ViewModels.PerformanceSummaryVM>

@{
    ViewData["Title"] = "Performance Summary";
}

<h2>PerformanceSummary</h2>

<a asp-action="DownloadPerformanceSummary" class="btn btn-info float-end">Download Performance Summary Report</a>
 
<form asp-controller="Musicians" asp-action="PerformanceSummary" method="get">

    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
            
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfPerformances)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AverageFeePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HighestFeePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LowestFeePaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfSongs)
                </th>
            
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPerformances)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageFeePaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighestFeePaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowestFeePaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSongs)
                </td>
            
            </tr>
    }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
